[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pytz = "==2018.7"
pip = "*"
celery = "*"
requests = "*"
redis = "*"
django = "==5.1.4"
pymysql = "*"
django-registration = "*"
gunicorn = "*"
python-dotenv = "*"
django-unfold = "*"

[dev-packages]
"flake8" = "*"
mypy = "1.9.0"

[requires]
python_version = "3.12.4"
