[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pytz = "==2018.7"
pip = "*"
celery = "*"
requests = "*"
redis = "*"
django = "==3.2.13"
pymysql = "*"
django-registration = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6.9"
