[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
celery = "*"
django = "==5.2"
django-registration = "*"
django-unfold = "*"
gunicorn = "*"
mypy = "*"
pip = "*"
pymysql = "*"
python-dotenv = "*"
pytz = "==2018.7"
redis = "*"
requests = {extras = ["socks"], version = "*"}
sockslib = "*"

[dev-packages]
"flake8" = "*"
mypy = "1.9.0"

[requires]
python_version = "3.12.4"
