Dear {{user.first_name}},

<p>
  Thank you for your interest in the the impresso App!
  <br/>
  To gain access to the full corpus including copyright-protected content,
  we are required to ask you for a signed <em>Non-Disclosure-Agreement</em> (NDA).
</p>
<p>
  Please download it here: <a href="https://impresso-project.ch/assets/documents/impresso_NDA.pdf">impresso_NDA.pdf</a>,
  sign it electronically or manually and email it back to info@impresso-project.ch.
</p>
<p>
Once we have verified your signed NDA we will activate your account - note that this may take up to two working days.
<br/>
In the meantime, we invite you to explore the publicly available <a href="https://impresso-project.ch/app/search?sq=">impresso corpus</a>
as well as the accompanying <a href="https://impresso-project.ch/theapp/usage/">documentation and learning materials</a> designed to
foster the critical and methodologically reflected usage of the app.
</p>
<p>
They cover source criticism for digitized and semantically enriched newspapers,
tips for impresso expert users, documentation of the methods and decisions made
during the creation of the impresso corpus as well as a range of of Frequently
Asked Questions.
</p>
<p>
We compiled an overview of all materials here: <a href="https://impresso-project.ch/theapp/usage/">https://impresso-project.ch/theapp/usage/</a>
<br/>
We hope you will enjoy working with <em>impresso</em> and do let us know how you get on. To reach us,
you can reply to this email, join the <a href="https://impresso-community.slack.com/join/shared_invite/enQtNTg5MzY2NDg2NTAyLTdiMmI2ZWU5ZjliNGNjN2M4NTgxM2UzOTQyYTkxYWU4MTgwN2I1MzQxMzg3N2Y0NGU3OGFjMzFmMGIyNGRlZmQ#/shared-invite/email">impresso community Slack group</a> or click
the feedback button in the lower right of the interface.
</p>
<p>
  With best wishes,<br/>
  The <em>impresso</em> team
</p>
