Dear {{user.first_name}},

<p>
  Thanks for signing up for Impresso! We've received your registration details
  and are excited to get you started.
</p>
<p>
  As mentioned in the app, the activation of your account is a quick, manual
  step. One of our team members is now reviewing your information to ensure
  everything is set up correctly.
</p>
<p>
  You'll receive a separate email notification as soon as your account is
  activated and ready to go. We appreciate your patience during this brief
  process and look forward to you experiencing all that Impresso has to offer!
</p>

<p>
  In the meantime, we invite you to explore the publicly available Impresso
  corpus (<a href="https://impresso-project.ch/app/search?sq="
    >https://impresso-project.ch/app/search?sq=</a
  >) as well as the accompanying documentation and learning materials (<a
    href="https://impresso-project.ch/the-app/usage"
    >https://impresso-project.ch/the-app/usage</a
  >) designed to foster the critical and methodologically reflected usage of the
  app.
</p>

<p>
  They cover source criticism for digitized and semantically enriched
  newspapers, tips for Impresso expert users, documentation of the methods and
  decisions made during the creation of the Impresso corpus as well as a range
  of Frequently Asked Questions.
</p>

<p>
  We hope you will enjoy working with Impresso and do let us know how you get
  on. To reach us, you can reply to this email, or join the Impresso community
  <a href="https://discord.gg/tYvuD8Nfur">Discord group</a>
</p>

<p>
  Welcome aboard!<br />
  The Impresso team
</p>
