Hello,

<p>A new user has created an account on Impresso:</p>
<p>
  First name: {{ user.first_name}}
  <br />
  Last name: {{ user.last_name}}
  <br />
  Email: {{ user.email}}
  <br />
  Chosen plan: {{ plan_label }}
</p>
<p>
  {% if email_being_sent_without_error %} The receipt email to the user was sent
  successfully without any errors. {% else %} There was an error sending the
  email. Please check the server logs for more details. {% endif %}
</p>
<p>
  Link to Admin Dashboard to activate the user:
  <a href="{{ absolute_admin_url_to_handle_change_request }}">
    {{ absolute_admin_url_to_handle_change_request }}</a
  >
</p>

<p>
  Please note that the plan is already selected from the user, as this is not a
  change plan request.<br />
  This means that
  <b>
    as soon as users are set as "active", the plan they chose will be
    automatically validated </b
  >.
  <br />
  In case of doubts, DO NOT ACTIVATE the user and contact them via email.
</p>

<p>Best regards,<br />The Impresso Team</p>
