Dear {{user.first_name}},

<p>
  Thank you for requesting a change to your Impresso plan. We've received your
  request to switch to the
  <i>{{ plan_to_name }}</i>.
</p>
<p>We are now processing your request. This usually takes 1-2 business days.</p>
<p>
  Upon successful completion of the plan change, your permissions will be
  updated to reflect the {{ plan_to_name }} features.
  <br />
  Have a look at the
  <a href="https://impresso-project.ch/datalab/corpus-overview"
    >Corpus Overview page</a
  >
  to see what you can do with your new plan.
</p>
<p>
  We will send you another email once your plan has been successfully updated.
  <br />
  If you have any questions or need to cancel your request, please contact our
  support team at {{ from_email }}.
</p>
<p>
  With best wishes,<br />
  The <i>Impresso</i> team
</p>
