Dear {{user.first_name}},

<p>
  Thank you for your interest in Impresso!<br />
  To gain access to the full corpus including copyright-protected content, we
  are required to ask you for a signed Non-Disclosure-Agreement (NDA).
</p>

<ul>
  <li>
    Please download the NDA here:
    <a href="https://impresso-project.ch/assets/documents/impresso_NDA.pdf"
      >https://impresso-project.ch/assets/documents/impresso_NDA.pdf</a
    >, sign it electronically or manually and email it back to
    <a href="mailto:info@impresso-project.ch">info@impresso-project.ch</a>.
  </li>
</ul>

<p>
  Once we have verified your signed NDA, we will activate your account - note
  that this may take up to two working days.
</p>

<p>
  In the meantime, we invite you to explore the publicly available Impresso
  corpus (<a href="https://impresso-project.ch/app/search?sq="
    >https://impresso-project.ch/app/search?sq=</a
  >) as well as the accompanying documentation and learning materials (<a
    href="https://impresso-project.ch/the-app/usage"
    >https://impresso-project.ch/the-app/usage</a
  >) designed to foster the critical and methodologically reflected usage of the
  app.
</p>

<p>
  They cover source criticism for digitized and semantically enriched
  newspapers, tips for Impresso expert users, documentation of the methods and
  decisions made during the creation of the Impresso corpus as well as a range
  of Frequently Asked Questions.
</p>

<p>
  We hope you will enjoy working with impresso and do let us know how you get
  on. To reach us, you can reply to this email, or join the Impresso community
  <a href="https://discord.gg/qBnxe2aj">Discord group</a>
</p>

<p>
  With best wishes,<br />
  The Impresso team
</p>
