Dear {{user.first_name}},

<p>
  Your account has been activated as a <strong>{{plan_label}}</strong> because
  the information provided during registration did not include sufficient
  evidence of student enrolment (for Student User plan) or an academic
  affiliation (for Academic User plan).
</p>

<p>
  If you would like to upgrade your account to a Student or Academic plan,
  please log in and click on "Request a change of plan" (top-right menu in your
  profile).
</p>

<p>
  <strong>For Student access:</strong> You must provide a valid student email
  address from your university (personal providers such as Gmail or Outlook are
  not accepted).
</p>

<p>
  <strong>For Academic access:</strong> Please provide a link in the institution
  URL field to your researcher profile page on your university's website. If you
  do not have such a profile page, you may alternatively email us a proof of
  your enrolment as a researcher at an academic institution. Please note that if
  your job title is not academic (researcher, professor, lecturer, etc.) you are
  unfortunately not eligible for Academic access.
</p>

<p>
  We apply these requirements to comply with copyright restrictions and the
  conditions set by our content providers while maximising research
  opportunities.
</p>

<p>
  If you have any questions about our user plan policies, please visit our
  <a href="{{impresso_base_url}}/app/terms-of-use">terms of use page</a>. You
  can also reach out to us via email on
  <a href="mailto:info@impresso-project.ch">info@impresso-project.ch</a>.
</p>

<p>
  With best wishes,<br />
  The Impresso team
</p>
