Dear {{user.first_name}},
<p>
  Thank you for your interest in the the impresso App!
  <br/>
  To gain access to the full corpus, we require
</p>
<ol>
  <li> a signed Non-Disclosure-Agreement (NDA)</li>
  <li> a copy of your ID card.</li>
</ol>
<p>
  Please email both documents to info@impresso-project.ch.
</p>
<p>
  Link to download the <b>Non-Disclosure-Agreement</b>:
  <a href="https://impresso-project.ch/assets/documents/impresso_NDA.pdf">impresso_NDA.pdf</a>
</p>
<p>
  You will receive a notification once we have received both documents and
  created your user account, this typically takes between 1 and 2 days.
</p>

<p>
  With best wishes,<br/>
  The impresso team
</p>
