Dear {{user.first_name}},
<p>
  Un grand merci for the signed NDA, your account is now active and you can enjoy
  the many resources available on <i>impresso</i> App!
</p>
<p>
  You can <a href="https://impresso-project.ch/app/user/login?redirect=%2F">login with your email </a>.<br/>
  Please do not hesitate to let us know in case you encounter any problems.
</p>

<p>
  In order to help you make the most of the interface, we prepared a range of
  materials for students and advanced researchers.
<p>
<p>
  <b>About the interface</b>
  <br/>
  This <a href="">short video</a> gives an overview of the impresso project and its ambitions
  while the <a>impresso Challenges</a> offer a step-by-step guide with advanced
  exploratory workflows around which the interface was designed.

  You can follow a guided tour of the interface in a series of YouTube videos.
</p>
<p>
  <b>Researching digitised newspapers</b>
  <br/>
  Our lesson on the Ranke2 learning platform gives a first overview of the
  peculiarities of digitised newspapers as historical sources.
  Our tutorial on the PARTHENOS platform discusses the challenges and
  opportunities researchers face when dealing with semantically enriched,
  digitised newspapers.
</p>
<p>
  If you encounter any difficulty, do not hesitate to visit the FAQ page or
  to get in touch with us, either via email or via the chat box on the interface
  (black envelope).
</p>
<p>
  All links are also available on our <a href="https://impresso-project.ch/theapp/usage/">project homepage</a>
  alongside blog posts on the methods we used and additional information about
  the project and its outputs.
</p>
<p>
  We wish you a pleasant exploration! Stay in touch!
</p>
<p>
  With best wishes,<br/>
  The <i>impresso</i> team
</p>
