Hello,

<p>
  {{user.first_name}} {{user.last_name}} has requested a change in their plan.
  <br />
  current plan: <b>{{current_plan_name}}</b>
  <br />
  requested plan: <b>{{ plan_to_name }} </b>
  <br />
  user email: {{ user.email}}
</p>
<p>
  To process this request, please update their status in the "Change User Change
  Plan Request" section of the Admin page to either "Approved" or "Declined".
</p>
<p>
  You can access the relevant page by visiting:
  <a href="{{ absolute_admin_url_to_handle_change_request }}"
    >{{ absolute_admin_url_to_handle_change_request }}</a
  >
</p>

{% if email_being_sent_without_error %}
<p style="color: green">The email was sent successfully without any errors.</p>
{% else %}
<p style="color: red">
  There was an error sending the email. Please check the server logs for more
  details.
</p>
{% endif %}

<p>
  Once updated, an email will be automatically sent to the user, and no further
  action is required from you.
</p>
<p>
  With best wishes,<br />
  The <i>Impresso</i> team
</p>
