<p>
  Dear {{ reviewer.get_full_name|default:reviewer.username }},
</p>
<p>
  You currently have
  <strong>
    {{ total_count }} pending special membership request{{total_count|pluralize }}
  </strong>
  awaiting your review.
</p>
<p>
{% if count_latest_requests > 1 %}
Here are the {{ count_latest_requests }} most recent requests:</p>
{% else %}
Here is the most recent request:
{% endif %}
</p>
<ul>
  {% for request in latest_requests %}
  <li>
    Request from: <strong>{{ request.user.get_full_name|default:request.user.username}}</strong>
    <ul>
      <li>
        <strong>Email:</strong> {{ request.user.email }}</li>
        <strong>Affiliation:</strong> 
        {% if request.user.profile.affiliation %}
          {{ request.user.profile.affiliation }}
        {% else %}
          Not provided
        {% endif %}
      </li>
      <li>
        <strong> Public Institutional Webpage:</strong> 
        {% if request.user.profile.institutional_url %}
          {{ request.user.profile.institutional_url }}
        {% else %}
          Not provided
        {% endif %}
      </li>
      <li>
        <strong>Membership Option:</strong> {{ request.subscription.title }}
      </li>
      <li>
        <strong>Request Date:</strong> {{ request.date_created|date:"l, d.m.Y, H:i T" }}
        <em>
          ({{ request.days_waiting }} day{{ request.days_waiting|pluralize }} ago)
        </em>
      </li>
      {% if request.notes %}
      <li><strong>Notes:</strong> {{ request.notes|truncatewords:20 }}</li>
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% if total_count > 3 %}
<p>
  ...and <strong>{{ total_count|add:"-3" }} more request{{ total_count|add:"-3"|pluralize}}</strong>.
</p>
{% endif %}
<p>
  Please review these requests at your earliest convenience. You can manage all
  pending requests through the admin interface:
</p>

<p>
  <a href="{{ settings.IMPRESSO_INSTITUTIONS_ACCESS_URL }}">{{ settings.IMPRESSO_INSTITUTIONS_ACCESS_URL }}</a>
</p>

<p>
  Best regards,<br />
  The Impresso Team
</p>
