Dear {{ user.first_name }},

<p>
  Your special membership request is currently under review. A reviewer has been assigned and may contact you directly if additional information is needed (e.g., to send a contract for signature).
</p>
<p>
  Here are the details of your request:
  <ul>
    <li><strong>Membership Option:</strong> {{ user_special_membership_request.subscription.title }}</li>
    <li><strong>Request Submitted:</strong> {{ user_special_membership_request.date_created | date:"F j, Y, g:i a" }}</li>
    <li><strong>Current Status:</strong> Under Review</li>
  </ul>
</p>
<p>
  We aim to complete the review as quickly as possible and will notify you as soon as a decision has been made.
  <br/>
  Please check your inbox regularly, as the reviewer may reach out to you via email.
</p>
<p>
  We appreciate your patience!
  <br/>
  Best regards,
  <br/>
  The Impresso Team
</p>