<p>
  Dear {{ user.get_full_name|default:user.username }}, <br />
  Dear {{ reviewer.get_full_name|default:reviewer.username }},
</p>

<p>
  This is an automatic notification from the Impresso User Management and Data
  Access system. We wish to inform you that
  <strong>{{ user.get_full_name|default:user.username }}</strong> has requested
  special membership access to the
  <strong>{{ user_special_membership_request.subscription.title }}</strong>.
</p>

<p>Here are the details of the access request for your reference:</p>
<ul>
  <li>
    <strong>Requester:</strong> {{ user.get_full_name|default:user.username }}
  </li>
  <li>
    <strong>Requester Email:</strong> {{ user.email }}
  </li>
  <li>
    <strong>Requester Plan:</strong> {{ plan_label }}
  </li>
  <li>
    <strong>Number of Special Membership Accesses granted:</strong> {{ number_of_special_memberships }}
  </li>
  <li>
    <strong>Affiliation:</strong>
    {% if user.profile.affiliation %} {{ user.profile.affiliation }} {% else %}
    Not provided {% endif %}
  </li>
  <li>
    <strong>Public Institutional Webpage:</strong>
    {% if user.profile.institutional_url %} {{ user.profile.institutional_url }}{% else %}Not provided{% endif %}
  </li>
  <li>
    <strong>Membership Option:</strong> {{
    user_special_membership_request.subscription.title }}
  </li>
  <li>
    <strong>Request Date:</strong> {{
    user_special_membership_request.date_created|date:"F j, Y, g:i a" }}
  </li>
  <li><strong>Request Status:</strong> Pending Review</li>
  <li>
    <strong>Notes:</strong>
    {% if user_special_membership_request.notes %}
    <blockquote>{{ user_special_membership_request.notes }}</blockquote>
    {% else %} No notes provided. 
    {% endif %}
  </li>
</ul>

<p>
  We have included both parties in this message to facilitate direct
  communication. {{ user.first_name|default:user.username }}, please feel free
  to reach out to {{ reviewer.get_full_name|default:reviewer.username }} here
  for any questions regarding your request or the data access process.
</p>

<p>
  Should you need any further assistance from our side, the Impresso Team
  remains at your service.
</p>

<p>
  Warm regards,<br />
  The Impresso Team
</p>
