<p>
  Dear {{ user.get_full_name|default:user.username }}, <br />
  Dear {{ reviewer.get_full_name|default:reviewer.username }},
</p>

<p>
  This is an automatic notification from the Impresso User Management and Data
  Access system. We wish to inform you that
  <strong>{{ user.get_full_name|default:user.username }}</strong> has requested
  special membership access to the
  <strong>{{ user_special_membership_request.subscription.title }}</strong>.
</p>

<p>Here are the details of the access request for your reference:</p>
<ul style="list-style-type: none;">
  <li>
    <strong>Requester:</strong>
    {{ user.get_full_name|default:user.username }}
  </li>
  <li><strong>Requester Email:</strong> {{ user.email }}</li>
  <li><strong>Requester Plan:</strong> {{ plan_label }}</li>
  <li>
    <strong>Number of Special Membership Accesses granted:</strong>
    {{ number_of_special_memberships }}
  </li>
  <li>
    <strong>Affiliation:</strong>
    {% if user.profile.affiliation %}
      {{ user.profile.affiliation }}
    {% else %}
      Not provided
    {% endif %}
  </li>
  <li>
    <strong>Public Institutional Webpage:</strong>
    {% if user.profile.institutional_url %}
      {{ user.profile.institutional_url }}
    {% else %}
      Not provided
    {% endif %}
  </li>
  <li>
    <strong>Membership Option:</strong> 
    {{ user_special_membership_request.subscription.title }}
  </li>
  <li>
    <strong>Request Date:</strong> 
    {{ user_special_membership_request.date_created|date:"l, d.m.Y, H:i T" }}
  </li>
  <li><strong>Request Status:</strong> {{ status_label }}</li>
  <li>
    <strong>Notes:</strong>
    {% if user_special_membership_request.notes %}
      {{ user_special_membership_request.notes }}
    {% else %}
      No notes provided.
    {% endif %}
  </li>
</ul>

<p>
  The request will now be reviewed by {{ reviewer.get_full_name|default:reviewer.username }}. We have included both
  parties in this message to facilitate direct communication. Once {{ reviewer.get_full_name|default:reviewer.username }} approves the request,
  special membership access will be granted automatically.
</p>

<p>
  Should you need any further assistance, contact the Impresso Team via
  info@impresso-project.ch
</p>

<p>
  Warm regards,<br />
  The Impresso Team
</p>
