Dear {{ user.first_name }},
<p>
  We have received an update on your special membership request on Impresso.
  Your request is currently under review by our team.
</p>
<p>Here are the details of your request, for your reference:</p>
<ul style="list-style-type: none; padding-left: 0">
  <li>
    <strong>Membership Option:</strong> {{
    user_special_membership_request.subscription.title }}
  </li>
  <li>
    <strong>Request Date:</strong> {{
    user_special_membership_request.date_created | date:"l, d.m.Y, H:i T" }}
  </li>
  <li><strong>Current Status:</strong> {{ status_label }}</li>
  <li>
    <strong>Notes:</strong>
    {% if user_special_membership_request.notes %} {{
    user_special_membership_request.notes }} {% else %} No notes provided. {%
    endif %}
  </li>
</ul>
<p>
  We aim to complete the review as quickly as possible and will notify you as
  soon as a decision has been made. Please check your inbox regularly, as the
  reviewer may reach out to you via email (e.g., to send a contract for
  signature).
</p>
<p>We appreciate your patience!</p>
<p>
  Best regards,<br />
  The Impresso Team
</p>
