Dear {{ user.first_name }},

<p>
  Thank you again for your interest in special membership access on Impresso.
</p>
<p>
  After a thorough review by our team, we regret to inform you that your request
  for the
  <strong>{{ user_special_membership_request.subscription.title }}</strong>
  option has been denied at this time.
</p>
<p>
  If you believe this decision was made in error or if you would like to submit
  additional information for reconsideration, please don't hesitate to reach out
  by replying to this email.
</p>
<p>
  We appreciate your understanding and hope you continue to enjoy the standard
  features of Impresso.
  <br />
  The Impresso Team
</p>
